.about {
  margin-bottom: 200px;

  &__wrapper {
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 568px;
      height: 722px;

      background-image: url("data:image/svg+xml,%3Csvg width='568' height='722' viewBox='0 0 568 722' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M449.234 321.094L449.29 320.597L449.234 321.094C381.005 313.423 322.839 296.102 280.593 261.398C238.327 226.676 212.059 174.607 207.527 97.5854C205.737 67.3174 193.547 42.3979 174.375 25.3894C155.203 8.38019 129.02 -0.743347 99.1961 0.636719C73.1294 1.83325 49.6134 10.345 32.1022 26.1487C14.5962 41.9474 3.05344 65.0674 0.984569 95.5579C-1.30444 129.359 4.45508 155.621 19.5475 175.094C34.6402 194.567 59.1323 207.336 94.4924 214.004L94.4928 214.004C148.21 224.177 194.327 244.221 229.961 275.747C265.6 307.276 290.725 350.265 302.492 406.275C313.082 456.654 305.457 498.706 282.127 528.681C258.796 558.657 219.833 576.463 167.939 578.499C165.419 578.598 162.906 578.686 160.405 578.774C140.282 579.478 120.937 580.156 104.993 586.264C96.0488 589.69 88.1921 594.822 81.8851 602.622C75.5762 610.424 70.7959 620.923 68.0492 635.117L68.0491 635.118C63.9485 656.159 67.5297 674.298 76.7261 688.478C85.925 702.663 100.77 712.929 119.27 718.166C144.757 725.36 164.552 720.383 180.19 708.306C195.857 696.208 207.391 676.951 216.243 655.522C233.523 613.535 258.417 591.097 289.007 580.521C319.562 569.958 355.739 571.252 395.549 576.58C448.647 583.681 491.67 573.988 521.387 549.992C551.092 526.005 567.587 487.657 567.5 437.253C564.591 407.021 554.041 380.124 534.735 359.72C515.427 339.315 487.323 325.363 449.234 321.094Z' stroke='%23A464C6'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      position: absolute;
      top: 27%;
      right: 0;
      z-index: -1;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    & + .about__block {
      margin-top: 60px;
    }

    &--reverse {
      & .about {
        &__info {
          order: 1;
          flex-direction: column;
        }
      }
    }

    &--third {
      position: relative;

      & .about {
        &__info {
          flex-direction: column;
          align-items: flex-end;

          & > p {
            height: 100%;
            max-width: 48.3%;
          }
        }
      }

      &::before,
      &::after {
        content: "";
        display: block;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
      }

      &::before {
        width: 105px;
        height: 105px;
        background-color: var(--accent);
        opacity: 0.3;

        top: 32%;
        left: 17%;
      }

      &::after {
        width: 145px;
        height: 145px;
        background-color: transparent;
        border: 1px solid var(--accent);

        bottom: 15%;
        left: 0;
      }
    }

    &--product {
      & .about {
        &__box {
          display: flex;
          flex-direction: column;
        }

        &__image--small {
          position: relative;
          max-width: 410px;
          margin-top: 0;

          &:hover {
            & .about__link {
              visibility: visible;
              opacity: 1;
              transition: 0.3s ease;
            }
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  & p {
    font-size: 20px;
    line-height: 140%;
    color: var(--black);
  }

  &__title {
    max-width: 410px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & h1,
    & h2 {
      font-family: "Cormorant", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 100%;
      color: var(--black);
    }

    & h1 {
      margin-bottom: 80px;
    }

    & h2 {
      margin-bottom: 100px;
    }

    & p {
      & + p {
        margin-top: 20px;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  &__box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    & .about__image {
      height: 525px;
    }
  }

  &__link {
    display: block;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid var(--light);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;

    &:hover {
      border: 1px solid var(--accent);
      transition: 0.3s ease;

      & p {
        color: var(--accent);
        transition: 0.3s ease;
      }

      & .about__arrow {
        transform: translateX(0px);
        transition: 0.3s ease;
      }

      & svg {
        fill: var(--accent);
        transition: 0.3s ease;
      }
    }

    & p {
      font-size: 20px;
      line-height: 140%;
      color: var(--black);
      transition: 0.3s ease;
    }

    & > p {
      margin-bottom: 10px;
      white-space: nowrap;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
      font-weight: 600;
    }
  }

  &__arrow {
    transform: translateX(-10px);
    transition: 0.3s ease;

    & svg {
      width: 12px;
      height: 21px;
      fill: var(--black);
      transition: 0.3s ease;
    }
  }

  &__btn {
    margin-top: 320px;
    margin-right: 30px;
    flex-shrink: 0;

    &:hover {
      background-color: var(--accent);
      transform: scale(0.9);
      transition: 0.3s ease;
    }

    &--circle {
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background-color: var(--purple);
      transition: 0.3s ease;

      font-family: "Cormorant", serif;
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: var(--white);
    }

    &--mobile {
      display: none;
    }
  }

  &__image {
    min-height: 1080px;

    &--small {
      min-height: 400px;
      margin-top: auto;
    }

    &--mobile {
      display: none;
    }
  }
}

@media (max-width: 1599px) {
  .about {
    &__btn {
      margin-right: 0;

      &--circle {
        width: 180px;
        height: 180px;
      }
    }

    &__box {
      & .about__image {
        height: 350px;
      }
    }

    &__image {
      min-height: 900px;

      &--small {
        min-height: 350px;
        margin-top: auto;
      }
    }
  }
}

@media (max-width: 1365px) {
  .about {
    &__block {
      display: block;

      &--reverse {
        & .about {
          &__info {
            align-items: initial;
          }
        }
      }

      &--third {
        & .about {
          &__info {
            align-items: flex-start;

            & > p {
              max-width: 100%;
            }
          }
        }
      }

      &--product {
        & > .about__image {
          display: none;
        }

        & .about {
          &__image--small {
            max-width: calc(100% + 80px);
          }
        }
      }
    }

    &__info {
      align-items: center;
      margin-bottom: 40px;
    }

    &__title {
      max-width: 70%;

      & p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      gap: 40px;

      & .about {
        &__image {
          &--small {
            display: block;
            height: 600px;
          }

          &--mobile {
            height: 600px;
          }
        }
      }

      &:last-of-type {
        & .about__image {
          order: 1;
        }
      }
    }

    &__btn {
      margin-top: 0;
      margin-right: 50px;
    }

    &__image {
      min-height: initial;
      height: 600px;

      &--small {
        display: none;
      }

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }
  }
}

@media (max-width: 1023px) {
  .about {
    &__block {
      &--product {
        &__box {
          display: none;
        }
      }
    }

    &__title {
      max-width: 100%;
    }

    &__btn {
      &--circle {
        display: none;
      }

      &--mobile {
        display: block;
        max-width: 375px;
        margin: 70px auto 0;
      }
    }

    &__image {
      margin: 0 -40px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    margin-bottom: 70px;

    & p {
      font-size: 16px;
    }

    &__title {
      & h1,
      & h2 {
        font-size: 36px;
        margin-bottom: 40px;
      }

      & p + p {
        margin-top: 15px;
      }
    }

    &__box {
      & .about__image {
        height: 480px;
      }
    }

    &__link {
      padding: 10px 15px;
      transform: translate(-50%, -50%);
    }

    &__image {
      height: 480px;
      margin: 0 -20px;
    }
  }
}
