.amount {
  width: 175px;
  background-color: #fff;
  border: 1px solid var(--light);

  display: flex;
  align-items: center;

  &--product {
    max-width: 220px;
    width: 100%;

    & .amount {
      &__btn {
        width: 55px;
        height: 55px;
        background-color: var(--light-pink);
        transition: 0.3s ease;

        &:hover {
          background-color: var(--pink);
          transition: 0.3s ease;
        }
      }
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    transition: 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    font-size: 30px;
    color: var(--black);

    &--minus {
      border-right: 1px solid var(--light);
    }

    &--plus {
      border-left: 1px solid var(--light);
    }

    &:hover {
      background-color: var(--pink);
      transition: 0.3s ease;
    }
  }

  &__count {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--black);
    text-align: center;
  }
}

@media (max-width: 575px) {
  .amount {
    width: 110px;

    &__btn {
      width: 35px;
      font-size: 20px;
    }

    &__count {
      font-size: 16px;
    }

    &--product {
      max-width: 100%;
      width: 100%;

      & .amount {
        &__btn {
          width: 80px;
        }
      }
    }
  }
}
