.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 5px 10px;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &:not(:first-child) {
      &::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--grey);
      }
    }

    & a {
      font-size: 18px;
      color: var(--grey);
      transition: 0.3s ease;
      white-space: nowrap;

      &:hover {
        color: var(--accent);
        transition: 0.3s ease;
      }
    }
  }
}

@media (max-width: 767px) {
  .breadcrumbs {
    &__item {
      & a {
        font-size: 14px;
      }
    }
  }
}
