.filter {
  position: relative;
  width: fit-content;

  &__head {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &__name {
    font-size: 18px;
    color: var(--grey);
    user-select: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 5px;

    & svg {
      fill: var(--black);
      transition: 0.3s ease;
    }

    &:hover {
      & .filter {
        &__current {
          color: var(--accent);
          transition: 0.3s ease;
        }
      }

      & svg {
        fill: var(--accent);
        transition: 0.3s ease;
      }
    }
  }

  &__current {
    display: flex;
    align-items: center;
    gap: 10px;

    & div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    & p {
      font-size: 18px;
      user-select: none;
      transition: 0.3s ease;
    }
  }

  &__body {
    padding: 30px;
    background-color: #fff;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s ease;

    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    z-index: 20;
  }

  &__list {
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;

    scrollbar-color: var(--grey) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
      overflow: hidden;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--grey);
      border-radius: 4px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    & div {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      flex-shrink: 0;
    }

    & p {
      font-size: 20px;
      line-height: 140%;
      color: var(--grey);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      transition: 0.3s ease;
    }

    &:hover {
      & p {
        color: var(--accent);
        transition: 0.3s ease;
      }
    }
  }

  &--sort {
    & .filter {
      &__body {
        left: initial;
        right: 0;
      }
    }
  }

  &--color {
    & .filter {
      &__body {
        max-width: 580px;
        left: 35px;
      }
    }
  }

  &.open {
    & .filter {
      &__btn {
        & svg {
          transform: rotate(180deg);
          transition: 0.3s ease;
        }
      }
      &__body {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: 0.3s ease;
      }
    }
  }
}

@media (max-width: 1599px) {
  .filter {
    &--color {
      & .filter {
        &__body {
          max-width: 460px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .filter {
    &--color {
      & .filter {
        &__name {
          font-size: 14px;
        }

        &__current {
          & p {
            font-size: 14px;
            line-height: 120%;
          }
        }

        &__body {
          position: static;
          max-width: 100%;
          max-height: 0;
          padding: 0;
          margin-top: 0px;
          transition: 0.5s ease;

          visibility: visible;
          opacity: 1;
          overflow: hidden;
          transform: initial;
          background-color: transparent;
          box-shadow: none;
          border-radius: 0;
        }

        &__list {
          max-height: 320px;
          gap: 20px;
        }

        &__item {
          & p {
            white-space: initial;
            overflow: initial;
            text-overflow: initial;

            font-size: 14px;
          }
        }
      }

      &.open {
        & .filter {
          &__body {
            max-height: 320px;
            margin-top: 20px;
            transition: 0.5s ease;
          }
        }
      }
    }
  }
}
