@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}
