.form {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 25px;

    &--success {
      margin-top: 160px;
    }
  }

  &__inner {
    & .form__field + .form__field {
      margin-top: 20px;
    }

    & > p {
      font-size: 14px;
      line-height: 140%;
      color: var(--grey);
      margin-bottom: 20px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &--full {
      display: block;
    }

    & + .form__row {
      margin-top: 20px;
    }

    & + .form__title {
      margin-top: 50px;
    }
  }

  &__field {
    & label {
      display: block;
      font-size: 16px;
      margin-bottom: 2px;
    }

    & input,
    & textarea {
      display: block;
      width: 100%;
      padding: 17px 20px;
      font-size: 18px;
      color: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;
      transition: 0.3s ease;

      &::placeholder {
        color: var(--light);
        transition: 0.3s ease;
      }

      &:hover {
        border-color: var(--accent);
        transition: 0.3s ease;

        &::placeholder {
          color: var(--pink);
          transition: 0.3s ease;
        }
      }

      &:focus {
        border-color: var(--black);
        transition: 0.3s ease;

        &::placeholder {
          color: var(--light);
          transition: 0.3s ease;
        }
      }
    }

    & textarea {
      height: 140px;
      padding: 24px 20px;
      resize: none;
    }

    & input {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  &__password {
    position: relative;
  }

  &__hint {
    margin-top: 5px;

    & p {
      font-size: 14px;
      line-height: 140%;
      color: var(--grey);
    }
  }

  &__tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    & label {
      font-size: 14px;
      line-height: 140%;
      color: var(--grey);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__btn {
    margin-top: auto;
    flex-shrink: 0;

    &--user {
      max-width: 49%;
    }

    &-google {
      width: 30px;
      height: 30px;
    }

    &-forgot {
      font-size: 14px;
      line-height: 140%;
      color: #268aff;
    }

    &-eye {
      padding: 10px;

      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 10;

      cursor: pointer;

      & svg {
        fill: var(--grey);
        transition: 0.3s ease;
      }

      &:hover {
        & svg {
          fill: var(--accent);
          transition: 0.3s ease;
        }
      }
    }
  }

  &--login {
    margin-top: 100px;
    gap: 100px;
  }

  &--reset {
    height: inherit;
    gap: 40px;

    & .form {
      &__title {
        font-weight: 700;
        font-size: 18px;
        text-transform: initial;
        margin-bottom: 0;
      }

      &__buttons {
        margin-top: auto;
        gap: 0;
      }
    }
  }

  &--contacts {
    height: 100%;
  }

  &--comment {
    height: 100%;

    & textarea {
      height: 245px;
    }
  }

  &--order {
    & .checkbox {
      margin-top: 30px;
    }

    & .form {
      &__btn {
        max-width: 250px;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1279px) {
  .form {
    &__btn {
      &--user {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__row {
      grid-template-columns: 1fr;

      &--address {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__field {
      & input {
        font-size: 16px;
      }
    }

    &__btn {
      &--user {
        max-width: 100%;
      }
    }

    &--contacts,
    &--comment {
      height: initial;

      & .form {
        &__btn {
          margin-top: 50px;
        }
      }
    }
  }
}
