.form {
  display: flex;
  flex-direction: column;

  &__row {
    &--double {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    & + .form__row {
      margin-top: 20px;
    }
  }

  &__field {
    & p {
      font-size: 16px;
      margin-bottom: 2px;
    }

    & input,
    & textarea {
      display: block;
      width: 100%;
      padding: 17px 20px;
      font-size: 18px;
      color: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;

      &::placeholder {
        color: var(--light);
      }
    }

    & textarea {
      height: 140px;
      padding: 24px 20px;
      resize: none;
    }
  }

  &__btn {
    margin-top: auto;
    flex-shrink: 0;
  }

  &--contacts {
    height: 100%;
  }

  &--comment {
    height: 100%;

    & textarea {
      height: 245px;
    }
  }
}

@media (max-width: 767px) {
  .form {
    &__row {
      &--double {
        grid-template-columns: 1fr;
      }
    }

    &--contacts,
    &--comment {
      height: initial;

      & .form {
        &__btn {
          margin-top: 50px;
        }
      }
    }
  }
}
