.form {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__inner {
    & .form__field + .form__field {
      margin-top: 20px;
    }

    & p {
      font-size: 14px;
      line-height: 140%;
      color: var(--grey);
      margin-bottom: 20px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &--full {
      display: block;
    }

    & + .form__row {
      margin-top: 20px;
    }

    & + .form__title {
      margin-top: 50px;
    }
  }

  &__field {
    & label {
      display: block;
      font-size: 16px;
      margin-bottom: 2px;
    }

    & input,
    & textarea {
      display: block;
      width: 100%;
      padding: 17px 20px;
      font-size: 18px;
      color: var(--black);
      border: 1px solid var(--grey);
      border-radius: 4px;

      &::placeholder {
        color: var(--light);
      }
    }

    & textarea {
      height: 140px;
      padding: 24px 20px;
      resize: none;
    }
  }

  &__hint {
    margin-top: 5px;

    & p {
      font-size: 14px;
      line-height: 140%;
      color: var(--grey);
    }
  }

  &__tip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    & label {
      font-size: 14px;
      line-height: 140%;
      color: var(--grey);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__btn {
    margin-top: auto;
    flex-shrink: 0;

    &--user {
      max-width: 49%;
    }

    &-google {
      width: 30px;
      height: 30px;
    }

    &-forgot {
      font-size: 14px;
      line-height: 140%;
      color: #268aff;
    }
  }

  &--login {
    margin-top: 100px;
    gap: 100px;
  }

  &--reset {
    & .form {
      &__title {
        font-weight: 700;
        font-size: 18px;
        text-transform: initial;
        margin-bottom: 50px;
      }

      &__buttons {
        margin-top: 60px;
        gap: 0;
      }
    }
  }

  &--contacts {
    height: 100%;
  }

  &--comment {
    height: 100%;

    & textarea {
      height: 245px;
    }
  }
}

@media (max-width: 1279px) {
  .form {
    &__btn {
      &--user {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 767px) {
  .form {
    &__title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &__row {
      grid-template-columns: 1fr;

      &--address {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__field {
      & input {
        font-size: 16px;
      }
    }

    &__btn {
      &--user {
        max-width: 100%;
      }
    }

    &--contacts,
    &--comment {
      height: initial;

      & .form {
        &__btn {
          margin-top: 50px;
        }
      }
    }
  }
}
