.header {
  padding: 31px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    opacity: 0;
  }

  &--main {
    background-color: var(--light-purple);
  }
}

@media (max-width: 1023px) {
  .header {
    padding: 20px 0;

    &__nav {
      display: none;
    }
  }
}
