.latest {
  margin-top: 150px;
  margin-bottom: 200px;

  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__link {
    font-weight: 600;
    font-size: 20px;
    color: var(--grey);
    white-space: nowrap;
    transition: 0.3s ease;

    &:hover {
      color: var(--accent);
      transition: 0.3s ease;
    }
  }

  &__pagination {
    margin-top: 120px;
  }
}

@media (max-width: 1023px) {
  .latest {
    &__head {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 767px) {
  .latest {
    margin-top: 100px;
    margin-bottom: 100px;

    &__head {
      gap: 30px;
    }

    &__link {
      font-size: 16px;
      border-bottom: 1px solid var(--grey);
    }

    &__pagination {
      margin-top: 30px;
    }
  }
}
