.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-shrink: 0;

  width: initial !important;

  &__bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--light-pink);
    cursor: pointer;
    transition: 0.3s ease;

    &--active {
      background-color: var(--accent);
      transition: 0.3s ease;
    }
  }

  &__btn {
    &-prev,
    &-next {
      padding: 0px 5px;
      cursor: pointer;

      & svg {
        fill: var(--black);
        transition: 0.3s ease;
      }

      &:hover {
        & svg {
          fill: var(--accent);
          transition: 0.3s ease;
        }
      }
    }

    &-prev {
      transform: rotate(180deg);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__item {
    padding: 0px 5px;
    font-size: 20px;
    color: var(--grey);

    &.active {
      font-weight: 600;
      color: var(--black);
    }
  }
}
