.profile {
  margin-bottom: 200px;

  &__title {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .profile {
    margin-bottom: 100px;

    &__title {
      margin-bottom: 40px;
    }
  }
}
