.tabs {
  &__head {
    border-bottom: 1px solid var(--light);

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__list {
    position: relative;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__item {
    position: relative;
    cursor: pointer;
    padding: 20px;
    background-color: transparent;
    transition: 0.3s ease;

    & p {
      font-size: 20px;
      color: var(--grey);
      white-space: nowrap;
      user-select: none;
      transition: 0.3s ease;
    }

    &::after {
      content: ".";
      width: 0%;
      height: 5px;
      margin: auto;
      color: transparent;
      background-color: var(--accent);
      transition: 0.7s ease;

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 15;
    }

    &.active {
      background-color: var(--light-pink);
      transition: 0.3s ease;

      & p {
        font-weight: 700;
        color: var(--black);
        transition: 0.3s ease;
      }

      &::after {
        width: 100%;
        transition: 0.7s ease;
      }
    }
  }

  &__content {
    margin-top: 30px;
  }

  &__body {
    display: none;

    &.active {
      display: block;
    }
  }
}

@media (max-width: 1023px) {
  .tabs {
    &__head {
      overflow-x: scroll;
      overflow-y: hidden;
      margin-right: -20px;
    }

    &__list {
      gap: 10px;
    }

    &__item {
      padding: 10px;

      & p {
        font-size: 14px;
      }
    }
  }
}
