.user {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__img {
    max-width: 80%;
    width: 100%;
    height: 807px;
    margin-left: auto;
  }
}

@media (max-width: 1279px) {
  .user {
    &__wrapper {
      display: block;
    }

    &__img {
      display: none;
    }
  }
}
